.card-coluna{
    background: linear-gradient(rgb(245, 245, 245) 0%, rgba(252, 252, 252, 0.918) 100%);

    text-align: left;
    min-height: 400px;
    height: 100%;
    border-radius: 32px;
    box-shadow: rgba(224, 240, 238, 0.712) -10px -10px 20px 0px, rgba(170, 209, 204, 0.5) 8px 8px 10px 0px, rgba(170, 209, 204, 0.2) 4px 4px 8px 0px, rgba(255, 255, 255, 0.5) -5px -5px 10px 0px;
  border: none;
  padding: 20px;
}
.card-title h2{
    font-size: 18px;
    max-width: 400px;
}
.img-card{
     margin: 0px; 
     width: 100%; 
     min-height: 300px;
     max-height: 400px; 
     border-radius: 32px;
     object-fit: cover;
}
.card-text{
        margin: 13px 0;
        padding: 23px;
        text-align: justify;
        border-radius: 20px;
        width: 100%;
        height: auto;
        background: linear-gradient(rgb(240, 249, 250) 0%, rgb(240, 249, 250) 100%);
        box-shadow: rgba(226, 236, 235, 0.76) -2px -2px 5px 0px inset, rgb(240, 249, 248) -5px -5px 10px 0px inset, rgba(170, 209, 204, 0.5) 5px 5px 9px 0px inset, rgba(170, 209, 204, 0.25) 2px 2px 4px 0px inset;
    
}