.colunas{
    background: linear-gradient(rgb(245, 245, 245) 0%, rgba(252, 252, 252, 0.918) 100%);
    text-align: left;
    min-width: 290px;
    min-height: 250px;
    height: 100%;
    border-radius: 32px;
    box-shadow: rgba(250, 250, 250, 0.904) -10px -10px 20px 0px, rgba(170, 209, 204, 0.5) 8px 8px 10px 0px, rgba(170, 209, 204, 0.2) 4px 4px 8px 0px, rgba(255, 255, 255, 0.5) -5px -5px 10px 0px;
    padding: 24px;
    
}
.colunas h1{
    font-size: 28px;
    text-align: left;
}
.block-img{
    flex-direction: column;
    justify-content: start!important;
}
